.projects {
  max-height: fit-content;
  width: 90%;
  min-height: 500px;
  border-radius: 12px;
}

.projects h1 {
  font-size: 2em;
}

.projects table tr {
  height: 60px;
}

.projects table td {
  padding: 8px;
  margin: 4px;
}

.projects table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.projects .name {
  color: cornflowerblue;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;
}
.card {
  width: 240px;
  align-items: center;
  appearance: none;
  /* background-color: #FCFCFD; */
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;

  justify-content: center;
  list-style: none;
  overflow: hidden;

  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.projects h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.projects .name {
  font-size: 1.5em;
  font-weight: normal;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination_button {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

.addButton {
  align-items: center;
  appearance: none;
  /* background-color: #FCFCFD; */
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  /* width: 200px; */
  margin: 20px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.editButton {
  align-items: center;
  appearance: none;
  /* background-color: #FCFCFD; */
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 38px;
  margin: 20px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.addButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.editButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.projects table {
  height: 250px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination_button {
  border: none;
  background-color: #f4f4f4;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination-button:hover {
  background-color: #e0e0e0;
}

.pagination_button.active {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out;
}

@media (max-width: 768px) {
  .projects {
    width: 120%;
  }

  .projects table {
    width: 100%;
  }
  .projects table thead {
    display: none;
  }
}

@media (max-width: 500px) {
  .desc {
    display: none;
  }
  .projects {
    width: 100%;
  }

  .projects table {
    width: 100%;
  }
  .projects table thead {
    display: none;
  }
  
}
