.tickets_wrapper{
    height: 200px;
}
.table_wrapper {
  max-height: 900px; /* set the maximum height */
  overflow: auto; /* add scrollbars when necessary */
}

.tickets thead{
    background-color:#FB8500 ;
}

.tickets tr{
    cursor: pointer;
}

.tickets tbody tr:hover{
    background-color: #8ECAE6;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .pagination_button {
    border: none;
    background-color: #f4f4f4;
    color: #333;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .pagination-button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination_button.active {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: 1s ease-in-out;
  }